h1{border: 3px solid gray;background-image:linear-gradient(red,red,yellow) ;padding:6px;width: 350px;margin: 5px;margin-left: 3px;margin-top: 9px;margin-right:4px ;}
#br{border: 3px solid gray;background-image:linear-gradient(rgb(187, 255, 0),rgb(0, 255, 170),yellow) ;padding:6px;width: 350px;margin-left: 3px;margin-right: 4px;font-size: 60px;font-weight: bold;}
.n{background-color: mediumturquoise;height: min-content;width: min-content;margin-left: 100px;}
#w{color:yellow;font-size: xx-large;}
body{background:url(w-qjCHPZbeXCQ-unsplash.jpg) ;backdrop-filter:blur(50px);fl}